<div id="navbar" class="navbar navbar-dark">
  <div class="navbar-brand">
    <a [routerLink] = "['/']">
        <h1>AgriLab</h1>
    </a>
  </div>
</div>


<div class="container-fluid" id="dashboard-display">
  <div class="row">
    <div class="col-sm-12 ml-sm-auto" id="dashboard">

      <div class="section-container">
        <div class="cards row-fluid">
          <div class="card-deck">
            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                  <h5>System health</h5>
              </div>
              <div class="card-body text-center">
                  <app-switch></app-switch>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Node 1 instruments -->
      <div class="section-container">
        <div class="cards row-fluid">
          <div class="card-deck">

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 1 Temperature</h5>
              </div>
              <div class="card-body">
                <app-node1-temp></app-node1-temp>
              </div>
            </div>

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 1 Humidity</h5>
              </div>
              <div class="card-body">
                <app-node1-hum></app-node1-hum>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Node 2 instrumnets -->
      <div class="section-container">
        <div class="cards row-fluid">
          <div class="card-deck">

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 2 Temperature</h5>
              </div>
              <div class="card-body">
                <app-node2-temp></app-node2-temp>
              </div>
            </div>

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 2 Humidity</h5>
              </div>
              <div class="card-body">
                <app-node2-hum></app-node2-hum>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Node 3 instrumnets -->
      <div class="section-container">
        <div class="cards row-fluid">
          <div class="card-deck">

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 3 Temperature</h5>
              </div>
              <div class="card-body">
                <app-node3-temp></app-node3-temp>
              </div>
            </div>

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 3 Humidity</h5>
              </div>
              <div class="card-body">
                <app-node3-hum></app-node3-hum>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Node 4 instrumnets -->
      <div class="section-container">
        <div class="cards row-fluid">
          <div class="card-deck">

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 4 Temperature</h5>
              </div>
              <div class="card-body">
                <app-node4-temp></app-node4-temp>
              </div>
            </div>

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 4 Humidity</h5>
              </div>
              <div class="card-body">
                <app-node4-hum></app-node4-hum>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Node 5 instrumnets -->
      <div class="section-container">
        <div class="cards row-fluid">
          <div class="card-deck">

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 5 Temperature</h5>
              </div>
              <div class="card-body">
                <app-node5-temp></app-node5-temp>
              </div>
            </div>

            <div class="card mb-3 shadow card-theme">
              <div class="card-header card-header-theme">
                <h5>Node 5 Humidity</h5>
              </div>
              <div class="card-body">
                <app-node5-hum></app-node5-hum>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
